<section class="swiper-container instaShop" data-bind="if: apiData().InstaShop">
    <h2 class="instaShop__title">instaShop </h2>

    <div class="swiper-wrapper instaShop__cards" data-bind="foreach: apiData().InstaShop.cards">

        <div class="swiper-slide instaShop__card">
            <div class="instaShop__wrapper">

                <picture class="instaShop__img">
                    <source media="(min-width: 1024px)" data-bind="attr:{srcset:imageUrl} ">
                    <source media="(min-width: 768px)" data-bind="attr:{srcset:imageUrl} ">
                    <source data-bind="attr:{srcset:imageUrl ">
                    <img data-bind="attr:{srcset:imageUrl, 'alt':imageText} ">
                </picture>


            </div>
        </div>

    </div>

    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->

    <div class="swiper-button-next ">
        <span class="instaShop__arrow instaShop__arrow--right"> </span>
    </div>
    <div class="swiper-button-prev">
        <span class="instaShop__arrow instaShop__arrow--left"> </span></div>

    </div>
</section>