<section class="swiper-container hero" data-bind="if: apiData().Hero">
    <div class="swiper-wrapper hero__cards" data-bind="foreach: apiData().Hero.cards">
        <div class="swiper-slide hero__card">
            <div class="hero__wrapper">

                <picture class="hero__img">
                    <source media="(min-width: 768px)" data-bind="attr:{srcset:imgTablet} ">
                    <source data-bind="attr:{srcset:imgMobile} ">
                    <img data-bind="attr:{srcset:imgMobile, 'alt':alt} ">
                </picture>
                <div class="hero__box-text container">
                    <span class="hero__info" data-bind="text: info"> </span>
                    <h2 class="hero__title" data-bind="text: title"> </h2>
                    <a class="hero__btn" role="button" data-bind="text: btnName, attr: { href: url}"> </a>
                </div>

            </div>
        </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next ">
        <span class="hero__arrow hero__arrow--right"> </span>
    </div>
    <div class="swiper-button-prev">
        <span class="hero__arrow hero__arrow--left"> </span></div>

    </div>
</section>