<section class="cards" data-bind="if: apiData().Cards">

    <div class=" cards__card-item" data-bind="foreach: apiData().Cards">

        <a class="cards__link" data-bind="attr:{ href: link}">
            <div class="cards__card-box">
                <div class="cards__wrapper">

                    <picture class="cards__img">
                        <source media="(min-width: 1024px)" data-bind="attr:{srcset: imageUrl} ">
                        <source media="(min-width: 768px)" data-bind="attr:{srcset: imageUrl} ">
                        <source data-bind="attr:{srcset: imageUrl ">
                        <img data-bind="attr:{srcset: imageUrl, 'alt':imageText} ">
                    </picture>

                    <h2 class="cards__title" data-bind="text: title"> </h2>

                </div>
            </div>
        </a>
    </div>

</section>