<section class="swiper-container bestsellers" data-bind="if: apiData().ProductsCard">
    <h2 class="bestsellers__title">Bestsellers </h2>

    <div class="swiper-wrapper bestsellers__cards" data-bind="foreach: apiData().ProductsCard">


        <!--ko if:  categoryId == 'Bestsellers' -->


        <div class="swiper-slide bestsellers__card">
            <div class="bestsellers__wrapper">

                <picture class="bestsellers__img">
                    <source media="(min-width: 1024px)" data-bind="attr:{srcset:items[0].images[0].imageUrl} ">
                    <source media="(min-width: 768px)" data-bind="attr:{srcset:items[0].images[0].imageUrl} ">
                    <source data-bind="attr:{srcset:items[0].images[0].imageUrl ">
                    <img data-bind="attr:{srcset:items[0].images[0].imageUrl, 'alt':items[0].complementName} ">
                </picture>

                <div class="bestsellers__text-box">
                    <span class="bestsellers__text-title" data-bind="text: productTitle"> </span>


                    <span class="bestsellers__price"><span
                            data-bind="text: items[0].sellers[0].commertialOffer.Installments[2].NumberOfInstallments + 'x de R$ ' + items[0].sellers[0].commertialOffer.Installments[2].Value.toFixed(2).replace('.',',') ">
                        </span> </span>
                    <a class="bestsellers__btn" data-bind="attr: { href: link}">Shop now </a>

                </div>

            </div>
        </div>
        <!--/ko -->
    </div>
    <!-- Add Arrows -->
    <div class="swiper-button-next ">
        <span class="bestsellers__arrow bestsellers__arrow--right"> </span>
    </div>
    <div class="swiper-button-prev">
        <span class="bestsellers__arrow bestsellers__arrow--left"> </span></div>

    </div>
</section>