// Break point
@global-break-xs: ~"screen and (min-width: 0px)";
@global-break-sm: ~"screen and (min-width: 576px)";
@global-break-md: ~"screen and (min-width: 768px)";
@global-break-lg: ~"screen and (min-width: 992px)";
@global-break-xl: ~"screen and (min-width: 1200px)";