@import './colors';
@import './breakPoint';

.cards {
    &__wrapper {
        position: relative;
    }

    &__card-box {
        position: relative;
        width: 95%;
        margin: 50px auto;

        &:after {
            display: block;
            content: "";
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
        }
    }

    &__title {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        background: rgba(0, 0, 0, 0.9);
        margin: 0;
        padding: 15px;
        color: @white;
        z-index: 9;
    }

    &__img {
        justify-content: center;
        display: flex;

        img {
            max-height: 354px;
        }
    }
}