@import './colors';
@import './breakPoint';

.footer {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: @black;

    &__accordion-wrapper {
        width: 100%;
        margin-top: 30px;
        background: rgba(0, 0, 0, 0.5);
    }

    &__newsletter-title {
        text-transform: uppercase;
        font-size: 16px;
        color: @white;
        text-align: center;
    }

    &__btn {
        width: 100%;
        margin-top: 10px;
        padding: 6px 0;
        background-color: @white;
        text-transform: uppercase;
        font-weight: bold;
        border: 0;
    }

    &__newsletter-info {
        font-weight: 300;
        color: @white;
        text-align: center;
        display: block;
    }

    &__accordion {
        height: 100%;
        width: 100%;
    }

    .collapse.show {
        visibility: initial;
    }

    &__collapse {
        background-color: @bokaraGrey;
    }

    &__collapse-link {
        color: @white;
        text-transform: uppercase;
        width: 100%;
        display: block;

        &:hover {
            text-decoration: none;
            color: @white;
        }

    }

    &__collapse-box {
        min-height: 25px;
    }

    &__collapse-box-item {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__card {
        background-color: @black;

        &--line {
            border-top: 1px solid rgba(199, 196, 196, 0.2);
        }
    }

    &__card-box {
        margin: 5px 0;
        height: 35px;
    }

    &__card-body {
        padding: 30px 0 20px 15px;
        margin-top: 5px;
    }

    &__card-title {
        margin: 0;
    }

    &__card-btn {
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 0;
        background: transparent;
        text-transform: uppercase;
        padding: 0 8px 0 15px;
        width: 100%;
        color: @white;
        font-weight: bold;
        font-size: 13px;

        &.opened {

            .footer__card-plus {
                opacity: 1;
            }

            .footer__card-plus-set--vertical {
                transition: all 0.5s ease-in-out;
                transform: rotate(90deg);
            }

            .footer__card-plus-set--horizontal {
                transition: all 0.5s ease-in-out;
                transform: rotate(90deg);
                opacity: 0;
            }
        }
    }

    &__card-btn-name {
        pointer-events: none;
    }

    &__icons {
        float: left;
        margin-right: 15px;
    }

    &__content {
        display: flex;
        align-items: center;
        padding: 12px 0 12px 0;
        justify-content: space-between;
    }

    &__card-plus {
        height: auto;
        width: auto;
        font-size: 1em;
        opacity: .7;


        &-set--vertical {
            transition: all 0.5s ease-in-out;
            transform: rotate(-90deg);
        }

        &-set--horizontal {
            transition: all 0.5s ease-in-out;
            transform: rotate(-90deg);
            opacity: 1;
        }

        &-circle {
            position: relative;
            width: 2.55em;
            height: 2.5em;
            display: flex;
            justify-content: center;
            align-items: center;

            .footer__card-plus-set--vertical {
                position: absolute;
                background-color: @white;
                width: 1px;
                height: 15px;
            }

            .footer__card-plus-set--horizontal {
                position: absolute;
                background-color: @white;
                width: 15px;
                height: 1px;
                top: 15px;
            }
        }
    }

    &__label {
        display: inline;
    }

    &__input {
        width: 100%;
        padding: 7px;
        font-weight: bold;
        background: @black;
        margin-top: 10px;
        border: 1px solid @white;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 400;
    }

    &__up {
        display: flex;
        justify-content: center;
    }

    &__up-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
    }

    &__up-name {
        color: @white;
        font-size: 20px;
        text-transform: uppercase;
    }

    &__up-arrow {
        border: solid @white;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(-135deg);
    }

    &__locate {
        padding-top: 20px;
        padding-bottom: 20px;
        background: @white;
    }

    &__locate-name {
        text-align: center;
        display: block;
        color: @black;
    }

}