@import './colors';
@import './breakPoint';

.header {
  width: 100%;
  height: 93px;
  position: relative;

  &.true {
    background-color: rgba(0, 0, 0, 0.5);
    height: auto;
  }

  &__card-wrapper {
    overflow: auto;
    height: calc(100vh - 96px);
  }

  &__wrapper-fix {
    position: fixed;
    z-index: 999;
    width: 100%;
    background: @white;

    &.true {
      position: relative;
    }
  }

  &__login {
    background: @white;
    display: flex;
    justify-content: space-between;
    padding: 20px 10px 10px 20px;

    .header__wrapper-box {
      margin-top: 0;
    }
  }

  &__icons-login {
    max-height: 22px;

    &--whatsapp {
      padding-left: 10px;
    }
  }

  &__login-nome {
    width: 60%;
    font-weight: bold;
  }


  &__accordion-wrapper {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  &__mask {
    width: 90%;
    background: @white;
  }

  &__accordion {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: -300px;
    transition: transform ease-in-out 0.2s;
    transform: translateX(-100%);

    &.true {
      top: 0;

      transition: transform ease-in-out 0.2s;
      transform: translateX(0%);
      z-index: 9;
    }
  }

  .collapse.show {
    visibility: initial;
  }

  &__title-location-img {
    margin: 0;
    margin-top: -6px;
  }

  &__collapse {
    background-color: #eee;
    margin-top: 5px;
  }

  &__collapse-link {
    color: @black;
    width: 100%;
    display: block;

  }

  &__collapse-box {
    max-height: 270px;
    display: flex;
    flex-wrap: wrap;
  }

  &__collapse-box-item {
    width: 50%;
    padding: 8px 0;
  }

  &__card {
    padding: 5px 0;

    &--line {
      border-top: 1px solid rgba(0, 0, 0, 0.2);
    }
  }

  &__card-box {
    padding-left: 20px;
    height: 35px;
  }

  &__card-body {
    padding: 20px;
  }

  &__card-title {
    margin: 0;
  }

  &__card-btn {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0;
    background: transparent;
    text-transform: uppercase;
    padding: 0;
    width: 100%;
    color: @black;
    font-weight: bold;
    font-size: 13px;

    &.opened {

      .header__card-plus {
        opacity: 1;
      }

      .header__card-plus-set--vertical {
        transition: all 0.5s ease-in-out;
        transform: rotate(90deg);
      }

      .header__card-plus-set--horizontal {
        transition: all 0.5s ease-in-out;
        transform: rotate(90deg);
        opacity: 0;
      }
    }
  }

  &__card-btn-name {
    pointer-events: none;
  }

  &__list-url {
    color: @black;
  }

  &__content {
    display: flex;
    align-items: center;
    padding: 12px 0 12px 0;
    justify-content: space-between;

  }

  &__brand img {
    max-height: 24px;

  }

  &__icons {
    max-height: 12px;

    &:last-child {
      margin-left: 14px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media @global-break-md {
      margin-bottom: 15px;
    }
  }

  &__list-item {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.05px;
    text-transform: uppercase;

    @media @global-break-md {
      font-size: 14px;
    }
  }

  &__wrapper-box {
    margin-top: 6px;
  }

  &__wrapper-menu {
    font-size: 7px;
  }

  &__wrapper {
    width: 20px;
    cursor: pointer;
    height: 10px;
    margin-top: 4px;
  }

  &__burguer,
  &__wrapper:before,
  &__wrapper:after {
    position: relative;
    display: inline-block;
    top: -26px;
    bottom: 0;
    margin: 2px 0;
    width: 100%;
    height: 3px;
    background-color: @black;
    border-radius: 4px;
  }

  &__wrapper:before,
  &__wrapper:after {
    content: "";
    transition: transform 0.3s ease-in-out,
      top 0.3s ease-in-out,
      bottom 0.3s ease-in-out;
  }

  &__wrapper:before {
    top: -12px;
  }

  &__wrapper:after {
    top: -40px
  }

  &__wrapper.true:before {
    transform: rotate(-45deg);
    top: -4px;
  }

  &__wrapper.true:after {
    transform: rotate(45deg);
    top: -44px;
  }

  &__burguer {
    transition: opacity 0.3s ease-in-out;
  }

  &__burguer.true {
    opacity: 0;
  }

  &__card-plus {
    height: auto;
    width: auto;
    font-size: 1em;
    opacity: .7;


    &-set--vertical {
      transition: all 0.5s ease-in-out;
      transform: rotate(-90deg);
    }

    &-set--horizontal {
      transition: all 0.5s ease-in-out;
      transform: rotate(-90deg);
      opacity: 1;
    }

    &-circle {
      position: relative;
      width: 2.55em;
      height: 2.5em;
      display: flex;
      justify-content: center;
      align-items: center;

      .header__card-plus-set--vertical {
        position: absolute;
        background-color: @black;
        width: 1px;
        height: 15px;
      }

      .header__card-plus-set--horizontal {
        position: absolute;
        background-color: @black;
        width: 15px;
        height: 1px;
        top: 15px;
      }
    }
  }

  &__form {
    padding: 0 15px;
  }

  &__label {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid @black;
    padding: 7px;
  }

  &__input {
    width: 100%;
    border: 0;
    font-weight: bold;
  }

  &__input-email-logo {
    position: relative;
  }

  &__refund {
    font-size: 10px;
    background-color: @whisper;
    padding-top: 8px;
    padding-bottom: 8px;

    &--bold {
      font-weight: bold;
    }
  }
}