@import './colors';
@import './breakPoint';

.hero {

    // swiper btn 
    .swiper-button-next,
    .swiper-button-prev {
        background-image: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        background-size: 7px 50px;

        @media @global-break-md {
            top: 60%;
        }
    }

    .swiper-button-next {
        margin-right: -15px;
    }

    .swiper-button-prev {
        margin-left: -15px;
    }

    // swiper pagination
    .swiper-pagination {

        &.swiper-pagination-bullets {
            position: absolute;
            bottom: 40px;
            width: 95%;
            justify-content: flex-end;
            display: flex;
        }

        .swiper-pagination-bullet {
            border: 1px solid @white;
            background-color: #7A8084;
            border-radius: 0;

            &.swiper-pagination-bullet-active {
                background-color: @white;
            }
        }
    }

    &__arrow {
        border: solid @white;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 5px;

        &--right {
            transform: rotate(-45deg);
            margin-right: 3px;
        }

        &--left {
            transform: rotate(135deg);
            margin-left: 3px;
        }
    }

    &__wrapper {
        position: relative;
        margin-bottom: 15px;

        @media @global-break-md {
            margin-bottom: 30px;
        }
    }

    &__img img {
        width: 100%;
    }

    &__box-text {
        position: absolute;
        top: 30%;
        width: 100%;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media @global-break-md {
            top: 50%;
        }
    }

    &__title {
        color: @white;
        width: 65%;
        padding: 20px 0;
        text-align: center;
        font-size: 50px;
        margin: 0 auto;
        text-transform: uppercase;
    }

    &__info {
        color: @white;
        font-size: 20px;
        text-transform: uppercase;
    }

    &__btn {
        border: 1px solid @white;
        padding: 12px 90px;
        color: @white;

        &:hover {
            text-decoration: none;
            color: @white;
        }
    }

}