@import './colors';
@import './breakPoint';

.instaShop {
    margin: 10px 5px 60px 5px;

    &__text-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__text-title {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 140px;
        height: 1.2em;
        white-space: nowrap;
        text-align: center;
    }

    &__cards {
        margin-bottom: 30px;
    }

    &__wrapper {
        position: relative;
        margin-bottom: 15px;
    }

    &__img img {
        width: 100%;
    }

    &__title {
        text-align: center;
        color: @black;
        font-size: 18px;
        margin: 5px 0 20px 0;
        position: relative;
        text-transform: uppercase;

        @media @global-break-md {
            margin: 45px 0 35px 0;
        }


        &::before,
        &:after {
            display: block;
            width: 30%;
            height: 1px;
            content: "";
            position: absolute;
            top: 50%;
            background: @black;
        }

        &::before {
            left: 0;
        }

        &:after {
            right: 0;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        top: 45%;
        background-color: rgba(255, 255, 255, 0.7);
        background-image: none !important;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        background-size: 7px 50px;
    }

    .swiper-button-next {
        margin-right: -15px;
    }

    .swiper-button-prev {
        margin-left: -15px;
    }

    &__arrow {
        border: solid @black;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 5px;

        &--right {
            transform: rotate(-45deg);
            margin-right: 3px;
        }

        &--left {
            transform: rotate(135deg);
            margin-left: 3px;
        }
    }

    // swiper config
    .swiper-container-horizontal>.swiper-pagination-bullets {
        bottom: 10px;
    }

    .swiper-pagination.swiper-pagination-bullets {
        @media @global-break-md {
            bottom: -4px;
        }
    }

    .swiper-pagination-bullet {
        height: 12px;
        width: 12px;
        border: 1px solid @black;
        background-color: @white;
        border-radius: 0;
    }

    .swiper-pagination-bullet-active {
        background: @black;
    }
}