@import './colors';
@import './breakPoint';
@import './header';
@import './bestsellers';
@import './footer';
@import './hero';
@import './cards';
@import './instaShop';

@import "bootstrap/index";


.content {
  overflow: auto;

  &.true {
    height: 100vh;
    overflow: hidden;
  }
}