<header class="header" data-bind="if: apiData().Header">
    <div class="header__wrapper-fix">
        <div class="header__container container">
            <div class="header__content">
                <div class="header__wrapper-box">
                    <div class="header__wrapper">
                        <span class=" header__burguer"></span>
                    </div>
                    <span class="header__wrapper-menu">MENU</span>
                </div>
                <h1 class="header__title-location-img">

                    <a class="header__url-location" href="#" title="Animale logo">
                        <picture class="header__brand">
                            <source media="(min-width: 1024px)" data-bind="attr:{srcset:apiData().Header.imgDesk} ">
                            <source media="(min-width: 768px)" data-bind="attr:{srcset:apiData().Header.imgTablet} ">
                            <source data-bind="attr:{srcset:apiData().Header.imgMobile} ">
                            <img data-bind="attr:{srcset:apiData().Header.imgMobile, 'alt':apiData().Header.alt} ">
                        </picture>
                    </a>
                </h1>
                <div class="header__content-icons">
                    <img class="header__icons header__icons--search" src="Search.png" />
                    <img class="header__icons header__icons--bag" src="Bag.png" />
                </div>
            </div>

        </div>
        <div class="header__refund">
            <div class="header__refund-wrapper container ">
                <span class="header__refund--bold">DEVOLUÇÃO </span> AUTOMÁTICA
            </div>
        </div>
        <div class="accordion header__accordion" id="accordionHeader">
            <div class="header__login">
                <span class="header__login-nome"> login </span>
                <div class="header__content-icons">
                    <img class="header__icons-login header__icons-login--estrela" src="estrela.png" />
                    <img class="header__icons-login header__icons-login--whatsapp" src="whatsapp.png" />
                </div>
                <div class="header__wrapper-box">
                    <div class="header__wrapper true">
                        <span class=" header__burguer true"></span>
                    </div>
                </div>
            </div>
            <div class="header__accordion-wrapper">
                <div class="header__mask">
                    <form class="header__form" action="#" method="get">
                        <label class="header__label" for="search">
                            <input class="header__input" type="search" id="search" required="required"
                                autocomplete="off" placeholder="Buscar..." name="search">
                            <img class="header__input-email-logo" src="search.png"> </img>
                        </label>
                    </form>
                    <div class="header__card-wrapper">
                        <!-- ko foreach: apiData().Header.subMenu -->
                        <div
                            data-bind="attr:{'class': line ? 'card header__card header__card--line' :  'card header__card'}">

                            <div class="card-header header__card-box"
                                data-bind="attr: { id:'heading'+$index(), 'tabindex': $index()  }">
                                <h2 class="mb-0 header__card-title " data-bind="attr:{'tabindex': $index()}">
                                    <button class="header__card-btn" type="button" data-toggle="collapse"
                                        aria-expanded="false"
                                        data-bind="attr: { 'data-target': '#collapse'+$index(), 'aria-controls': 'collapse'+$index(),  'data-index': $index()}">

                                        <span class="header__card-btn-name" data-bind="text: name "></span>


                                        <!-- ko if: items!= null -->

                                        <div class="header__card-plus">
                                            <div class="header__card-plus-circle">
                                                <div class="header__card-plus-set--horizontal"></div>
                                                <div class="header__card-plus-set--vertical"></div>
                                            </div>
                                        </div>


                                        <!-- /ko -->

                                    </button>
                                </h2>

                            </div>
                            <!-- ko if: items != null -->
                            <div class="collapse header__collapse" data-parent="#accordionHeader"
                                data-bind=" attr: { id: 'collapse'+$index(), 'aria-labelledby': 'heading'+$index()}">
                                <div class="card-body header__card-body">

                                    <ul class="header__collapse-box">
                                        <!-- ko foreach: items -->
                                        <li class="header__collapse-box-item">
                                            <a class="header__collapse-link" data-bind="text: name" role="link"></a>
                                        </li>
                                        <!-- /ko -->
                                    </ul>

                                </div>
                            </div>
                            <!-- /ko -->
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>