<footer class="footer" data-bind="if: apiData().Footer">
    <div class="footer__container">
        <div class="footer__newsletter container">
            <h2 class="footer__newsletter-title" data-bind="text: apiData().Footer.newsletter.title"></h2>
            <span class="footer__newsletter-info" data-bind="text: apiData().Footer.newsletter.info"> </span>

            <form class="footer__form">
                <label class="footer__label" for="nome"></label>
                <input class="footer__input" type="text" id="nome" name="nome" placeholder="Nome">
                <label class="footer__label" for="email"></label>
                <input class="footer__input" type="email" id="email" name="email" placeholder="E-mail">
                <input class="footer__btn" type="submit" value="ok">
            </form>
        </div>
        <div class="accordion footer__accordion" id="accordionfooter">
            <div class="footer__accordion-wrapper">

                <!-- ko foreach: apiData().Footer.list -->
                <div class="card footer__card footer__card--line">
                    <div class="card-footer footer__card-box"
                        data-bind="attr: { id:'heading'+$index(), 'tabindex': $index()  }">
                        <h2 class="mb-0 footer__card-title " data-bind="attr:{'tabindex': $index()}">
                            <button class="footer__card-btn " type="button" data-toggle="collapse" aria-expanded="false"
                                data-bind="attr: { 'data-target': '#collapse'+$index(), 'aria-controls': 'collapse'+$index(),  'data-index': $index()}">

                                <span class="footer__card-btn-name" data-bind="text: name "></span>

                                <!-- ko if: items.length > 0 -->
                                <div class="footer__card-plus">
                                    <div class="footer__card-plus-circle">
                                        <div class="footer__card-plus-set--horizontal"></div>
                                        <div class="footer__card-plus-set--vertical"></div>
                                    </div>
                                </div>
                                <!-- /ko -->
                            </button>
                        </h2>

                    </div>
                    <!-- ko if: items.length > 0 -->
                    <div class="collapse footer__collapse" data-parent="#accordionfooter"
                        data-bind=" attr: { id: 'collapse'+$index(), 'aria-labelledby': 'heading'+$index()}">
                        <div class="card-body footer__card-body">

                            <ul class="footer__collapse-box">

                                <!-- ko foreach: items -->

                                <!-- ko if: logo-->
                                <li class="footer__icons">
                                    <a class="footer__icons-url" data-bind="attr:{href: url }">
                                        <img class="footer__icons-img" data-bind="attr:{src: logo, 'alt': alt} ">
                                    </a>
                                </li>
                                <!-- /ko -->
                                <!-- ko ifnot: logo -->
                                <li class="footer__collapse-box-item">
                                    <a class="footer__collapse-link" data-bind="text: name" role="link"></a>
                                </li>
                                <!-- /ko -->
                                <!-- /ko -->



                            </ul>

                        </div>
                    </div>
                    <!-- /ko -->
                </div>
                <!-- /ko -->
            </div>
        </div>
        <div class="footer__up">
            <div class="footer__up-wrapper" data-up="up">
                <span class="footer__up-arrow"> </span>

                <span class="footer__up-name"> Subir </span>
            </div>
        </div>
    </div>
    <div class="footer__locate container">
        <span class="footer__locate-name" data-bind="text: apiData().Footer.locale.name"> </span>
    </div>

</footer>